.landingPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.nameHeader {
  font-size: 3rem;
  /* line-height: 3.5rem; */
}

.landingSubHeader {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.projectsButton {
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  background-color: #075a89;
  border: none;
  color: white;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.projectsButton:hover {
  cursor: pointer;
  background-color: white;
  color: #212121;
}

@media (min-width: 567.98px) {
  .landingPageContent {
    padding: 0 5rem;
    padding-top: 3rem;
  }
}

@media (min-width: 767.98px) {
  .nameHeader {
    font-size: 3.25rem;
  }

  .landingSubHeader {
    font-size: 2rem;
  }

  .landingParagraph {
    font-size: 1.25rem;
  }
}

@media (min-width: 991.98px) {
  .landingPageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 1199.98px) {
  .landingParagraph {
    padding: 0 25rem;
    /* text-align: center; */
  }
}
