.mobileNav {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #212121;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}

.linkArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  padding-top: 10rem;
}

.mobileLink {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.resumeButtonMobile {
  border: 2px solid #075a89;
  color: #075a89;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background: none;
  text-decoration: none;
}

@media (min-width: 567.98px) {
  .linkArea {
    padding-top: 5rem;
    gap: 2rem;
  }
}
@media (min-width: 767.98px) {
}
