.projectPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  overflow-x: hidden;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.mainImage {
  width: 85%;
  height: 12rem;
}

.description {
  padding: 0 1rem;
  text-align: center;
}

.links {
  display: flex;
  gap: 3rem;
}

.projectTitle {
  font-size: 1.75rem;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.tool {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.Repo,
.liveSite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 1.15rem;
}

.Repo:hover,
.liveSite:hover {
  background-color: gray;
  cursor: pointer;
}

.Repo:visited,
.liveSite:visited {
  text-decoration: none;
  color: inherit;
}

.icon {
  transform: scale(1.4);
}

@media (min-width: 567.98px) {
  .mainImage {
    width: 70%;
    height: 20rem;
  }
}
@media (min-width: 767.98px) {
  .description {
    padding: 0 10%;
  }
}
@media (min-width: 991.98px) {
  .pageContent {
    width: 60%;
  }
  .mainImage {
    width: 80%;
  }
}
@media (min-width: 1199.98px) {
  .mainImage {
    height: 25rem;
  }
}
