.projectsPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  /* padding: 0 2rem; */
}

.projectsPageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.header {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.projectsArea {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 0;
}

.project {
  gap: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.slideshow {
  display: flex;

  visibility: visible;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.project:hover .slideshow {
  visibility: hidden;
}

.project:hover .projectOverlay {
  visibility: visible;
}

.projectOverlay {
  height: 100%;
  position: absolute;
  display: flex;
  background-color: black;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}

.projectImg {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.overlayImg {
  width: 100%;
  border-radius: 10px;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  cursor: pointer;
}

/* .projectImg:hover {
  opacity: 0.5;
  background-color: black;
  transform: scale(1.15);
} */

.viewProject {
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  border: none;
  width: 8rem;
  height: 2rem;
  background-color: lightgray;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
}

.viewProject:hover {
  background-color: white;
  cursor: pointer;
}

.project p {
  text-align: center;
}
/* // small phone screens // */
@media (width: 360px) {
}

@media (min-width: 567.98px) {
  .projectsArea {
    grid-template-columns: repeat(2, 50%);
    gap: 4rem;
  }
}
@media (min-width: 767.98px) {
  .projectsArea {
    grid-template-columns: repeat(2, 55%);
    place-items: center;
    width: 60%;
  }

  .projectImg {
    width: 100%;
    height: 15rem;
  }
}
@media (min-width: 991.98px) {
  .header {
    padding-bottom: 3rem;
  }
}
@media (min-width: 1199.98px) {
  /* .projectsArea {
    grid-template-columns: repeat(2, 1fr);
  } */
}

@media (min-width: 567.98px) and (max-width: 950.98px) and (orientation: landscape) {
  /* .projectsPage {
    align-items: end;
  }

  .projectsArea {
    grid-template-columns: repeat(4, 22.5%);
  } */
}
