.projectsPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 2rem; */
}

.projectsPageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.header {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.projectsArea {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 1rem;
}

.project {
  display: grid;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 10px;
}

.slideshow {
  /* width: auto; */
  display: flex;
}

.projectImg {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
}

.project p {
  text-align: center;
}
/* // small phone screens // */
@media (width: 360px) {
  /* .projectsArea {
    grid-template-columns: repeat(2, 35%);
  } */
}

@media (min-width: 567.98px) {
  .projectsArea {
    grid-template-columns: repeat(2, 50%);
    gap: 4rem;
  }
}
@media (min-width: 767.98px) {
  .projectsArea {
    grid-template-columns: repeat(2, 55%);
    place-items: center;
    width: 70%;
  }

  .projectImg {
    width: 100%;
    height: 15rem;
  }
}
@media (min-width: 991.98px) {
  .header {
    padding-bottom: 3rem;
  }

  .projectsArea {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1199.98px) {
}

@media (min-width: 567.98px) and (max-width: 950.98px) and (orientation: landscape) {
  /* .projectsPage {
    align-items: end;
  }

  .projectsArea {
    grid-template-columns: repeat(4, 22.5%);
  } */
}
